*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Montserrat', sans-serif;
  background:
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.95)),
    url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?auto=format&fit=crop&w=1400&q=80");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  color:white;
  overflow-x:hidden;
  margin:0;
  padding:0;
}

.bg{
  position:fixed;
  inset:0;
  background:
    radial-gradient(circle at top, rgba(255,90,40,0.25), transparent 40%),
    url('https://www.transparenttextures.com/patterns/stardust.png');
  z-index:-1;
}

.hero{
  min-height:100vh;
  padding:30px 8%;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:32px;
  font-weight:900;
  color:#ff5a28;
  letter-spacing:3px;
}

nav ul{
  display:flex;
  list-style:none;
  gap:40px;
}

nav a{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#ff5a28;
}

.hero-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:80px;
  gap:40px;
}

.left h1{
  font-size:120px;
  font-weight:900;
  line-height:1;
}

.left h2{
  color:#ff5a28;
  font-size:42px;
  margin-top:10px;
}

.left p{
  margin-top:30px;
  font-size:20px;
  line-height:1.8;
  max-width:550px;
  color:#d5d5d5;
}

.btn{
  display:inline-block;
  margin-top:30px;
  padding:16px 45px;
  border-radius:60px;
  background:linear-gradient(180deg, #ff1e00, #b30000);
  color:white;
  text-decoration:none;
  font-size:22px;
  font-weight:800;
  transition:0.3s;
  box-shadow:
    0 0 20px rgba(255, 0, 0, 0.6),
    0 0 40px rgba(255, 0, 0, 0.3);
}

.btn:hover{
  transform:scale(1.05);
}

.hower-btn{
  display:inline-block;
  margin-top:20px;
  padding:10px 24px;
  background:linear-gradient(180deg, #ff1e00, #b30000);
  color:white;
  text-decoration:none;
  font-size:13px;
  font-weight:700;
  border-radius:40px;
  box-shadow:0 0 10px rgba(255, 0, 0, 0.5);
  transition:0.3s;
}

.planet{
  width:520px;
  height:520px;
  border-radius:50%;
  background:
    url('https://images.unsplash.com/photo-1614728894747-a83421789f10?auto=format&fit=crop&w=1200&q=80')
    center/cover;
  box-shadow:
    0 0 60px rgba(255,90,40,0.5),
    0 0 120px rgba(255,90,40,0.2);
}

section{
  width:90%;
  max-width:1100px;
  margin:60px auto;
  padding:100px 8%;
}

.glass{
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.1);
  backdrop-filter:blur(12px);
  -webkit-backdrop-filter:blur(12px);
  border-radius:30px;
  padding:40px;
  box-shadow:
    0 0 30px rgba(255,90,40,0.15);
  transition:0.4s;
}

.glass:hover{
  transform:translateY(-5px);
  box-shadow:
    0 0 40px rgba(255,90,40,0.3);
}

.about{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
}

.about-text,
.about-image{
  border-radius:30px;
  padding:40px;
}

.about-text h2{
  color:#ff5a28;
  font-size:42px;
  margin-bottom:25px;
}

.about-text p{
  line-height:1.9;
  color:#d6d6d6;
  margin-bottom:20px;
}

.about-image img{
  width:100%;
  border-radius:20px;
}

.title{
  color:#ff4d2d;
  font-size:42px;
  font-weight:900;
  margin-bottom:30px;
  text-align:center;
  text-shadow:0 0 15px rgba(255, 72, 0, 0.8);
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.card{
  padding:35px;
  border-radius:25px;
  transition:0.4s;
}

.card:hover,
.mission:hover{
  transform:translateY(-10px);
  box-shadow:0 0 30px rgba(255,90,40,0.25);
}

.card h3{
  margin-bottom:20px;
  color:#ff5a28;
}

.card p{
  line-height:1.8;
  color:#d7d7d7;
}

.gallery{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  flex-wrap:wrap;
  padding:40px;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.08);
  backdrop-filter:blur(12px);
  -webkit-backdrop-filter:blur(12px);
  box-shadow:0 0 30px rgba(255,90,40,0.15);
  border-radius:30px;
  transition:0.4s;
}

.gallery:hover{
  transform:translateY(-5px);
  box-shadow:0 0 40px rgba(255,90,40,0.3);
}

.gallery img{
  width:100%;
  max-width:450px;
  height:300px;
  object-fit:cover;
  border-radius:25px;
  display:block;
  margin:0;
  box-shadow:0 0 25px rgba(255, 72, 0, 0.25);
  transition:0.4s;
}

.mission-cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
}

.mission{
  padding:20px;
  border-radius:25px;
  transition:0.4s;
}

.mission img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:20px;
}

.mission h3{
  margin-top:20px;
  color:#ff5a28;
}

.mission p{
  margin-top:15px;
  line-height:1.8;
  color:#d7d7d7;
}

.quote{
  text-align:center;
  background:linear-gradient(to right, #160909, #2c120d);
}

.quote h2{
  font-size:54px;
  line-height:1.5;
}

.quote span{
  display:block;
  margin-top:25px;
  color:#ff5a28;
  font-size:24px;
}

footer{
  text-align:center;
  padding:40px;
  background:black;
  color:#888;
}

p,
li{
  color:#d6d6d6;
  font-size:18px;
  line-height:1.8;
}

ul{
  padding-left:20px;
}

img{
  width:100%;
  border-radius:25px;
  margin:40px;
  margin-top:10px;
  box-shadow:0 0 25px rgba(255, 72, 0, 0.25);
  transition:0.4s;
}

.block{
  margin-bottom:60px;
}

@media(max-width:1000px){
  .hero-content{
    flex-direction:column;
    text-align:center;
  }

  .planet{
    width:350px;
    height:350px;
  }

  .left h1{
    font-size:80px;
  }

  .about{
    grid-template-columns:1fr;
  }

  nav ul{
    display:none;
  }
}

@media(max-width:768px){
  .title{
    font-size:30px;
  }

  p,
  li{
    font-size:16px;
  }

  .glass{
    padding:20px;
  }
}
